<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <h1>Marvel Stories</h1>
  <p>Pick your favorite</p>
  <div>
    <form action="{{ url_for('main.get_story') }}" method="POST">
      <select name="hero_name">
        <option value="Spider-Man">Spider-Man</option>
        <option value="Deadpool">Deadpool</option>
        <option value="Wolverine">Wolverine</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
<footer>Data provided by Marvel. © 2021 MARVEL</footer>
</html>